@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Jeg går i BAD</h1>
    <p>Se om du har dumpet DOA her: <a href="https://sbstads.au.dk/sb_STAP/sb/resultater/studresultater.jsp">slap af</a></p>
    <a asp-page="/jeff">Island boy</a>
    <a asp-page="/sw4">SW4</a>
</div>
